.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img{
  max-height: auto;
}

nav {
  position: fixed;
  background-color: rgba(100, 100, 100, 0.8)
}

.main-body {
  padding-top: 65px;
}

form {
  float: left;
  width: 300px;
}

.card-title {
  font-size: 18px !important;
}

.overview {
  font-size: 13px !important;
}

.brand-logo {
  font-size: 44px !important;
}